.tile {
    display: inline-flex;
}

.row {
    margin: 0;
    background-color: #42b842;
}

.grass {
    background-color: #42b842;
}

.rock {
    background-image: url('/tiles/rock-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tree-1 {
    background-image: url('/tiles/tree-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bush-1 {
    background-image: url('/tiles/bush-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bush-2 {
    background-image: url('/tiles/bush-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chest {
    background-image: url('/tiles/chest.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}